@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    margin: 0px;
    padding: 0px;
    font-family: 'Courier New', Courier, monospace;
    box-sizing: border-box;
    max-width: 100%;
}
 
 body{
   background-color: #362015;
    overflow-x: hidden;
    height: 150vh;
    max-width: 100%;
 }
#menu{
    color: white;
    font-family: 'Poppins', sans-serif;
    background-color:#362015;
}
#icon{
    position: absolute;
    top: -24px;
    left: 15px;
    width: 100px;
    margin: 0 auto;
    padding:0 auto;
}

li, ul{
     display: flex;
     padding: 8px;
     gap: 5px;
    align-items: center;
    justify-content: center;
   
}
a {
    padding: 0px;
    color: white;
    font-size: larger;
    font-weight: bolder;
    text-decoration: none;
    
}
a:hover{
    font-size: x-large;
    font-weight: bolder;
    text-decoration: underline;
    margin: 0%;
}
 
.titulo{
    color: white;
    text-size-adjust: 50px;
    text-align: center;
    margin: 17px;
    font-family: 'Poppins',sans-serif;
    font-weight: bolder;
}

#sobre{
    background-size: cover;
    background-attachment: fixed;
    background-image: url(img/Bakery.jpg);
    width: auto; 
    height: 250px;
    margin: 0 auto;
    position: relative;
    top: 10%;
}
.history{
    color: white;
    left: 7%;
}
 .texto {
    width: 250px;
    box-sizing: border-box;
    margin-top: 30px;
    background-color: blur;
    border: 1px solid black;
    color: white;
    visibility: visible;
    text-transform:  capitalize;
    margin: 10px;
    padding: 3px;
    border-radius: 5px;
    position: relative;
    left: 15%;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 1);
}
#Chef{
    width: 250px;
    height: 250px;
    position: relative;
    left: 60%;
    top: -250px;
    z-index: 1;
}
.bolha{
    background-color: #56010c;
    width: 220px;
    height: 220px;
    position: relative;
     left: 69%;
     top: -526px;
     border-radius:50%;
     color: white;
}
.bolha2{
    background-color: #56010c;
    width: 110px;
    height: 110px;
    position: relative;
    left: 59%;
    top: -555px;
    color: white;
    border-radius:50%;
}
#Demonstrações{
    position: relative;
    top: 20%;
}
h3{
    position: relative;
    color: White;
    left: 7%;
}
#demonstration{
    visibility: visible;
    text-align: center;
    margin: 10 auto;
    position: absolute;
    margin-left: 15px;
}
ul li{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 6px;
    height: 50%;
    position: relative;
    left: 59px;

}
li img{
    border-radius: 15px;
    width: 180px;
    height: 260px;
    margin-top: 40px;
    justify-content: center;
    align-items: center;

}
.card{
     transition: transform 0.5s;
     right: 6%;
    visibility: hidden;
    border-radius: 5px;
}

h2, .card{
    position: relative;
    bottom: 10px;
    font-family: 'Courier New', Courier, monospace;
}
h1, .card{
 font-family: 'Times New Roman', Times, serif;
 color: black;
}
span, button{
    position: relative;
    left: 19px;
    bottom: 4px;
}
span{
    position: relative;
    font-family: 'Times New Roman', Times, serif;
}
button{
    padding:5px;
    background-color: #7a594d;
    color: white;
    font-weight: bold;
}
 li:hover .card{
    transition: transform 0.8s linear;
    transform: rotatez(360deg) translateX(-50px) ;
    background-color:#f0f3f5;
    height: 230px;
    width: 193px;
    position: relative;
    visibility: visible;
}
h4{
    margin: 60px 60px;
    position:relative;
    left:7%;
    color: white;
    font-size: 20px;
    font-family: 'Courier New', Courier, monospace;
}
#Evaluations{
position: relative;
top: 30%;
margin: 60px 60px;
}
#clientes  {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    position: relative;
    gap: 30px;
    transition: 0.5s;
}
#clientes img{
    width: 180px;
    height: 180px;
    border-radius: 50%;
    top: 0px;
    position: absolute;
}
#clientes:hover{
   height: 500px;
}
.coments {
    width: 180px;
    height: 180px;
    background-color: #f0f3f5;
    transition: 0.5s;
    visibility: hidden;
}

#clientes:hover .coments {
    visibility: visible;
}