*{
    margin: 0px;
    padding: 0px;
    font-family: 'Courier New', Courier, monospace;
    box-sizing: border-box;
}
 
 
#menu{
    color: black;
    font-family: 'Courier New', Courier, monospace;
}
ul{
    text-align: center;
}
li  {
    display: inline;
    margin: 16px;
}
a {
    color: black;
    font-size: larger;
    text-decoration: none;
}
a:hover{
    color: rgb(247, 154, 154);
    font-size: x-large;
    text-decoration: underline;
}
h1{
    text-align: center;
    margin: 8%;
}
div #Carrossel{
    width: 100%;
    overflow: hidden;
}
#Carrossel ul{
    animation-name: carrossel;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    width: 400%;
    display: flex;
    gap: 10px;
    margin: 0;
    padding: 0;
    list-style: none;
    }

 #Carrossel ul:hover{
    animation-play-state: paused;
    }
.img{
    width: 25%;
   flex-shrink: 0;
   display: flex;
   justify-content: center;
   align-items: center;
}
@keyframes carrossel{
 0%{margin-left: 0;}
 25%{margin-left: -100%;}
 50%{margin-left: -200%;}
 75%{margin-left: -300%;}
 95% {margin-left: -300.01%;}
 100%{margin-left: -300%;}
}

.Cake{
    border: 2px solid pink;
    width: 250px;
    height: 250px;
    
}
.Cake:hover{
    border-radius: 5%;
     transform: scale(1.2);
}

.Dango{
    border: 2px solid pink;
    width: 250px;
    height: 250px;
}
.Dango:hover{
    border-radius: 5%;
     transform: scale(1.2);
}

.Namagashi{
    border: 2px solid pink;
    width: 250px;
    height: 250px;
}
.Namagashi:hover{
    border-radius: 5%;
     transform: scale(1.2);}
.Mochi{
    border: 2px solid pink;
    width: 250px;
    height: 250px;
}
.Mochi:hover{
    border-radius: 5%;
    transform: scale(1.2);
}
p{
    border: 1px solid pink;
    visibility: hidden;
    width: 250px;
    box-sizing: border-box;
    margin-top: 30px;
}
li:hover>p{
    background-color: purple;
   visibility: visible;
   transform: scale(1.2);
   display: block;
}