*{
    margin: 0px;
    padding: 0px;
    font-family: 'Courier New', Courier, monospace;
    box-sizing: border-box;
    max-width: 100%;
}
 
 body{
    background-color:#e7dddf;
    overflow-x: hidden;
    height: 150vh;
 }
#menu{
    color: white;
    font-family: 'Courier New', Courier, monospace;
    background-color: #f19ba6;
}
#icon{
    position: absolute;
    top: -24px;
    left: 15px;
    width: 100px;
    margin: 0 auto;
    padding:0 auto;
}

li, ul{
     display: flex;
     padding: 8px;
     gap: 10px;
    align-items: center;
    justify-content: center;
   
}
a {
    padding: 0px;
    color: white;
    font-size: larger;
    font-weight: bolder;
    text-decoration: none;
    
}
a:hover{
    font-size: x-large;
    font-weight: bolder;
    text-decoration: underline;
    margin: 0%;
}
h1{
    text-align: center;
    margin: 4%;
}
ul li{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 6px;
    height: 50%;
    position: relative;
    left: 59px;
}
li img{
    border: 1px solid pink;
    border-radius: 15px;
    width: 180px;
    height: 260px;
    margin-top: 40px;
    justify-content: center;
    align-items: center;

}
.card{
     transition: transform 0.3s ease;
    visibility: hidden;
}
span, button{
    position: relative;
    left: 29px;
}
 li:hover .card{
    transform: translateX(-50px);
    background-color: rgb(211, 206, 206);
    height: 200px;
    position: relative;
 
    visibility: visible;
}
p{
    border: 1px solid pink;
    visibility: hidden;
    width: 250px;
    box-sizing: border-box;
    margin-top: 30px;
}

#sobre{
    background-color: #f19ba6;
    width: 900px; 
    height: 250px;
    margin: 0 auto;
}
 .texto{
    background-color: #fcfbfb;
    border: 1px solid black;
    color: black;
    visibility: visible;
    text-transform:  capitalize;
    margin: 10px;
    border-radius: 5px;
    padding: 3px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 1);
}
#Chef{
    width: 250px;
    height: 250px;
    position: relative;
    left: 450px;
    top: -250px;
    z-index: 1;
}
.bolha{
    background-color: #56010c;
    width: 220px;
    height: 220px;
    border: 1px solid pink;
    position: relative;
     left: 550px;
     top: -526px;
     border-radius:50%;
     color: white;
}
.bolha2{
    background-color: #56010c;
    width: 110px;
    height: 110px;
    position: relative;
    left: 425px;
    top: -555px;
    color: white;
    border-radius:50%;
}
#amor{
    visibility: visible;
    text-align: center;
    margin: 10 auto;
    position: absolute;
    margin-left: 15px;
}