*{
    margin: 0px;
    padding: 0px;
    font-family: 'Courier New', Courier, monospace;
    box-sizing: border-box;
    max-width: 100%;
}
 
 body{
    background-color:#e7dddf;
    overflow-x: hidden;
    height: 150vh;
 }
#menu{
    color: black;
    font-family: 'Courier New', Courier, monospace;
}
ul{
    text-align: center;
}
li  {
    display: inline;
    margin: 16px;
}
a {
    padding: 0px;
    color: black;
    font-size: larger;
    font-weight: bolder;
    text-decoration: none;
}
a:hover{
    color: #3e1dc6;
    font-size: x-large;
    font-weight: bolder;
    text-decoration: underline;
    margin: 0%;
}
h1{
    text-align: center;
    margin: 4%;
}
div #Carrossel{
    width: 5%;
}
#Carrossel ul{
    animation-name: carrossel;
    animation-duration: 18s;
    /*animation-iteration-count: infinite;*/
    width: 400%;
    display: flex;
    gap: 10px;
    margin: 25px;
    padding: 25px;
    list-style: none;
    
    }

 #Carrossel ul:hover{
    animation-play-state: paused;
    }
.img{
    width: 25%;
   flex-shrink: 0;
   display: flex;
   justify-content: center;
   align-items: center;
}
@keyframes carrossel{
 0%{margin-left: 0;}
 10%{margin-left: 0;}
 20%{margin-left: -100%;}
 35%{margin-left: -100%;}
 45%{margin-left: -200%;}
 60%{margin-left: -200%;}
 70% {margin-left: -300%;}
 90% {margin-left: -300%;}
 100%{margin-left: 0%;}
}

.Cake{
    border: 2px solid pink;
    width: 250px;
    height: 250px;
    
}
.Cake:hover{
    border-radius: 5%;
     transform: scale(1.2);
}

.Dango{
    border: 2px solid pink;
    width: 250px;
    height: 250px;
}
.Dango:hover{
    border-radius: 5%;
     transform: scale(1.2);
}

.Namagashi{
    border: 2px solid pink;
    width: 250px;
    height: 250px;
}
.Namagashi:hover{
    border-radius: 5%;
     transform: scale(1.2);}
.Mochi{
    border: 2px solid pink;
    top: 150;
    width: 250px;
    height: 250px;
}
.Mochi:hover{
    border-radius: 5%;
    transform: scale(1.2);
}
p{
    border: 1px solid pink;
    visibility: hidden;
    width: 250px;
    box-sizing: border-box;
    margin-top: 30px;
}
li:hover>p{
    background-color: #fbfbf8;
   visibility: visible;
   width: 250px;
   height: 100px;
   transform: translateY(-80px);
   display: block;
   border-radius: 5px;
   
}
#history{
    border: 1px solid black;
    width: 900px; 
    height: 250px;
    margin: 0 auto;
}
 .texto{
    background-color: #F3E5AB;
    border: 1px solid black;
    color: black;
    visibility: visible;
    text-transform:  capitalize;
    margin: 10px;
    border-radius: 5px;
    padding: 3px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 1);
}
#Chef{
    width: 250px;
    height: 250px;
    position: relative;
    left: 450px;
    top: -250px;
    z-index: 1;
}
.bolha{
    background-color: #56010c;
    width: 220px;
    height: 220px;
    border: 1px solid pink;
    position: relative;
     left: 550px;
     top: -526px;
     border-radius:50%;
     color: white;
}
.bolha2{
    background-color: #56010c;
    width: 110px;
    height: 110px;
    position: relative;
    left: 425px;
    top: -555px;
    color: white;
    border-radius:50%;
}
#amor{
    visibility: visible;
    text-align: center;
    margin: 10 auto;
    position: absolute;
    margin-left: 15px;
}
.btn, .btn1, .btn2, .btn3{
   cursor: pointer;
   background-color: pink;
   padding: 5px;
   border-radius: 5px;
   display: inline-block;
   position: absolute;
   right: 38%;
   bottom:4px;
   margin: 0 auto;
}