*{
    margin: 0px;
    padding: 0px;
    font-family: 'Courier New', Courier, monospace;
    box-sizing: border-box;
}
#menu{
    text-align: center;
    color: black;
    font-family: 'Courier New', Courier, monospace;
}

a{
    color: black;
    font-size: medium;
    text-decoration: none;
}
a:hover{
    color: rgb(247, 154, 154);
    font-size: larger;
    text-decoration: underline;
}
h1{
    text-align: center;
    margin: 4%;
}

#Carrossel {
    border: 2px solid pink;
    display: flex;
    gap: 0;
    justify-content: center;
}
.img{
  
}
.Cake{
    border: 2px solid pink;
    width: 250px;
    height: 250px;
}

.Dango{
    border: 2px solid pink;
    width: 250px;
    height: 250px;
}

.Namagashi{
    border: 2px solid pink;
    width: 250px;
    height: 250px;
}

.Mochi{
    border: 2px solid pink;
    width: 250px;
    height: 250px;
}